<div class="container-fluid">
  <div class="row">
    <app-header></app-header>
  </div>
  <div class="row flex-nowrap">
    <app-sidebar class="col-1"></app-sidebar>
    <main class="col-10 mx-5">
      <div class="profile container-p">
        <strong>Contacto</strong>
        <form [formGroup]="contactoForm" class="mt-4">
          <div class="row">
            <div class="col-6">
              <label for="Nombre">Asunto</label>
              <input class="inputP" type="text" id="asunto" name="asunto" formControlName="asunto" placeholder="Asunto" />
            </div>
            <div class="col-6">
              <label for="username">Estado</label>
              <input class="inputP" type="text" id="estado" name="estado" formControlName="estado" placeholder="Estado" />
            </div>
            <div class="col-12">
              <label for="username">Mensaje</label>
              <textarea class="inputP" id="mensaje" name="mensaje" formControlName="mensaje" placeholder="Mensaje..."></textarea>
            </div>
          </div>
        </form>
        <div class="text-end">
          <button class="btnPerfil" (click)="guardarContacto()">Guardar</button>
        </div>
      </div>
    </main>
  </div>
</div>
