<div class="container-fluid">
  <div class="row">
    <app-header></app-header>
  </div>
  <div class="row flex-nowrap">
    <app-sidebar class="col-1"></app-sidebar>
    <main class="col-10 mx-5">
      <div class="profile container-p">
        <strong>Perfil de la banda</strong>
        <form [formGroup]="perfilForm" class="mt-4">
          <div class="row">
            <div class="col-6">
              <label for="Nombre">Nombre</label>
              <input class="inputP" type="text" id="Nombre" name="Nombre" formControlName="nombre" placeholder="Nombre" />
            </div>
            <div class="col-6">
              <label for="username">Genero Musical</label>
              <input class="inputP" type="text" id="generoMusical" name="generoMusical" formControlName="generoMusical" placeholder="Genero Musical" />
            </div>
            <div class="col-6">
              <label for="username">Año formación</label>
              <input class="inputP" type="date" id="anioFormacion" name="anioFormacion" formControlName="anioFormacion" placeholder="Genero Musical" />
            </div>
            <div class="col-12">
              <label for="username">Biografia</label>
              <textarea class="inputP" id="biografia" name="biografia" formControlName="biografia" placeholder="Biografia..."></textarea>
            </div>
          </div>
        </form>
        <div class="text-end">
          <button class="btnPerfil" (click)="guardarBanda()">Guardar</button>
        </div>
      </div>
    </main>
  </div>
</div>
